# Created by .ignore support plugin (hsz.mobi)
.col
.row
.idea
.idea/workspace.xml
java_datastore.iml
out/production/java_datastore/.gitignore
out/production/java_datastore/.idea/
out/production/java_datastore/files/
out/production/java_datastore/java_datastore.iml
out/production/java_datastore/parser/
out/production/java_datastore/query/
/out/
